<div class="panel panel-default collection-{{name}}">

  <!-- Panel heading !-->
  <div class="panel-heading clearfix">
    <span data-toggle="collapse" data-target=".{{name}}">
      <h4>{{name}}
        <a class="btn btn-sm btn-danger btn-delete pull-right" id="{{name}}">
          <i class="fa fa-trash-o"></i>
        </a>
      </h4>
    </span>
  </div>

  <!-- Panel contents !-->
  <div class="panel-collapse collapse in {{name}}">
    <div class="panel-body">
      {{> sourceList}} {{> sourceUpload}} {{> modelUpload}}
    </div>
  </div>
</div>
