<div class="panel-group">
  <div class="panel panel-default collection-{{name}}">
    <div class="panel-heading clearfix">
      <span class="accordion" data-toggle="collapse" data-target="#collection-{{name}}">
        <h4>{{name}}</h4>
      </span>
      <span class="navbar-right">
        <button class="btn btn-sm btn-danger btn-delete" data-collection="{{name}}">
          <i class="fa fa-trash-o"></i>
        </button>
      </span>
    </div>

    <div class="panel-collapse collapse in" id="collection-{{name}}">
      <div class="panel-body">
        {{>collectionList}} {{> sourceUpload}} {{> modelUpload}}
      </div>
    </div>
  </div>
</div>
